.modal_background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(17, 17, 17, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    width: 100vw;
    overflow-y: scroll;

}

.modal_body{
    min-width: 280px;
    min-height: 762px;

    width: calc(100% - 40px);
    max-width: 335px;

    background: #FFFFFF;
    border: 2px solid #111111;
    border-radius: 18px;

    position: fixed;
    top: 0;
    bottom: 0;
    padding: 40px;
    overflow-y: scroll;

    box-sizing: border-box;

}

.modal_body .close_btn{
    position: absolute;
    top: 24px;
    right: 24px;
}

.modal_image {
    width: 287px;
    height: 408px;
    border-radius: 8px;
}



.card_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    
    letter-spacing: -0.04em;
    color: #111111;

    margin-bottom: 8px;
}

.modal_body .card_author {
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: -0.04em;
    color: #B4AFAF;

    margin-bottom: 20px;
}
.card_description{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    
    letter-spacing: -0.04em;
    color: #111111;

    margin-bottom: 20px;
}

.modal_body .btn {
    display: flex;
    justify-content: center;
    align-items: center;

    text-transform: uppercase;

    width: 100%;
    height: 64px;

    border: 2px solid #4F2EE8;
    border-radius: 40px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: -0.01em;
    text-transform: uppercase;

    color: #111111;

    background-color: transparent;
}

.modal_body .close_btn{
    border: none;
    padding: 0;
    background: none;
}

.modal_body .notification {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    /* or 117% */

    text-align: center;
    letter-spacing: -0.04em;

    color: rgba(17, 17, 17, 0.5);
}

.modal_container{
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.modal_links{
    display: flex;
    gap: 20px;
    position: flex;
    justify-content: flex-start;
    align-items: center;

    mix-blend-mode: luminosity;
}

.close_btn{
    display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 14px;
  right: 14px;

  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;

  transition: background 0.2s ease-out;
}

.close_btn > svg:hover,
.close_btn > svg:focus {
    stroke: var(--header-bg-color-light);
    fill: var(--header-bg-color-light);
    cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-color: var(--accent-color-light-theme);
  color: var(--header-bg-color-light);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
    .modal_body .close_btn {
        position: absolute;
        top: 24px;
        right: 24px;
    }
}


@media screen and (min-width: 768px) {
    .modal_body {
        max-width: 579px;
        min-height: 465px;
        max-height: 501px;
        position: relative;
    }
    .modal_image {
        max-width: 192px;
        height: 281px;
    }
    .modal_container{
        flex-wrap: nowrap;
    }
    .modal_body .close_btn {
        position: fixed;
        position: absolute;
        top: 24px;
        right: 24px;
    }

}