@keyframes example {
  0% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(17, 17, 17, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  width: 100%;
  overflow-y: scroll;
}

@keyframes append-animate {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.modal_body {
  min-width: 280px;
  min-height: 500px;

  width: calc(100% - 40px);
  max-width: 335px;

  background: var(--header-bg-color-light);
  border: 2px solid var(--primary-text-color-light-theme);
  border-radius: 18px;

  position: fixed;
  top: 64px;
  bottom: 0;
  padding: 40px;
  overflow-y: auto;

  box-sizing: border-box;

  animation: append-animate 0.3s linear;
}

.modal_body .close_btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.modal_image {
  width: 287px;
  height: 408px;
  border-radius: 8px;
}

.modal_img:hover,
.modal_img:focus {
  filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.15));
}

.card_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

  letter-spacing: -0.04em;
  color: var(--primary-text-color-light-theme);

  margin-bottom: 8px;
}

.modal_body .card_author {
  font-style: italic;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.04em;
  color: #b4afaf;

  margin-bottom: 20px;
}
.card_description {
  max-height: 70px;
  overflow-y: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  letter-spacing: -0.04em;
  color: var(--primary-text-color-light-theme);

  margin-bottom: 20px;
}

.modal_body .btn {
  display: flex;
  justify-content: center;
  align-items: center;

  text-transform: uppercase;

  width: 100%;
  height: 64px;

  border: 2px solid #4f2ee8;
  border-radius: 40px;

  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: var(--primary-text-color-light-theme);

  background-color: transparent;
}

@media screen and (max-width: 767.99px) {
  .modal_body .btn {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.modal_body .close_btn {
  border: none;
  padding: 0;
  background: none;
}

.modal_body .notification {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* or 117% */

  text-align: center;
  letter-spacing: -0.04em;

  color: var(--category-color-light);
}

.modal_container {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.modal_links {
  display: flex;
  gap: 20px;
  position: flex;
  justify-content: flex-start;
  align-items: center;

  mix-blend-mode: luminosity;
}

.close_btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 14px;
  right: 14px;

  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-color: transparent;
  background-color: transparent;

  transition: background-color 0.2s ease-out;
}
.icon_close {
  stroke: var(--primary-text-color-light-theme);
  fill: var(--primary-text-color-light-theme);
}

.icon_close:hover,
.icon_close:focus {
  stroke: var(--accent-color-light-theme);
  fill: var(--accent-color-light-theme);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--accent-color-light-theme);
  color: var(--header-bg-color-light);
  cursor: pointer;
}
.btn:disabled:hover {
  background-color: var(--secondary-color-light-theme);
  border-color: var(--secondary-color-light-theme);
}

.btn:focus {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color-light-theme);
  color: var(--header-bg-color-light);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .modal_body .close_btn {
    position: absolute;
    top: 12px;
    right: 12px;
  }
}

@media screen and (min-width: 768px) {
  .modal_body {
    max-width: 579px;
    min-height: 465px;
    max-height: 501px;
    position: relative;
  }
  .modal_image {
    max-width: 192px;
    height: 281px;
  }
  .modal_container {
    flex-wrap: nowrap;
  }
  .modal_body .close_btn {
    position: fixed;
    position: absolute;
    top: 24px;
    right: 24px;
  }
}
