.unvisible {
  display: none;
}
.category-books-wrapper {
  max-width: 100%;
}
@media screen and (max-width: 767px) {
  .category-item:not(:last-child) {
margin-bottom: 40px;
}
}
@media screen and (min-width: 768px) {
  .category-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 40px;
    column-gap: 24px;
  }
}
.card-wrapper {
  cursor: pointer;
}
/* .title-category {
    font-family: 'DM Sans';
font-weight: 700;
font-size: 32px;
line-height: 1.19;


letter-spacing: -0.04em;
}
.book-img {
  width: 335px;
  height: 485px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .book-img {
    width: 218px;
    height: 316px;
  }
}
@media screen and (min-width: 768px) {
  .book-img {
    width: 180px;
    height: 256px;
  }
} */
