.books_container {
  overflow: hidden;
}

.section-books-header {
  margin-bottom: 40px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.19;

  letter-spacing: -0.04em;

  color: var(--primary-text-color-light-theme);
}

.section-books-header-span {
  color: var(--accent-color-light-theme);
}

.book-group {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
}

.book-group_title {
  margin-bottom: 14px;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;

  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color-light-theme);
}

.book-card_list {
  display: flex;
  flex-wrap: wrap;
}

.book_image {
  scale: 1.01;
}

.book-card {
  display: flex;
  flex-direction: column;
  position: relative;

  width: 335px;
  min-height: 535px;
}

.img_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 14px;

  width: 335px;
  height: 485px;
  border-radius: 8px;
}

.book_title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  color: var(--primary-text-color-light-theme);
  letter-spacing: -0.04em;
  text-transform: uppercase;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-descr .book_title {
  margin-bottom: 4px;
}

.book_author {
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;

  letter-spacing: -0.04em;

  color: var(--secondary-color-light-theme);

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 767.98px) {
  .book-card {
    display: block;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 768px) {
  .book-card {
    width: 218px;
    min-height: 366px;
  }

  .img_wrapper {
    width: 218px;
    height: 316px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .book-card_list {
    gap: 25px;
    width: auto;
    /* flex-wrap: nowrap; */
  }

  .book-card {
    display: flex;
    width: 218px;
    height: 366px;
  }

  .book-card:nth-child(n + 4) {
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .book-card_list {
    gap: 24px;
  }
  .book-card {
    width: 180px;
    min-height: 306px;
  }

  .img_wrapper {
    width: 180px;
    height: 256px;
  }
}

.isHidden {
  display: none;
}

.quick_view {
  display: none;
}

@keyframes scale-up-ver-bottom {
  0% {
    transform: scaleY(0.4);
    transform-origin: 0% 100%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}

@media screen and (min-width: 1440px) {
  .book-card:hover > .quick_view {
    display: block;
    cursor: pointer;

    position: absolute;
    width: 180px;
    height: 70px;
    left: 0px;
    top: 186px;

    background: #eac645;
    border-radius: 0px 0px 8px 8px;

    animation-name: scale-up-ver-bottom;
    animation-duration: 0.6s;
  }
}

@media screen and (min-width: 1440px) {
  .book-card:hover,
  .book-card:focus {
    cursor: pointer;
  }
}
