<header class="header">
  <div class="header-container container">
    <nav class="navigation">
      <a href="/src/index.html">
        <svg class="logo">
          <use
            href="/src/svgsprite/symbol-defs.svg#icon-logo"
            width="109"
            height="28"
          ></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item-li">
          <div>
            <a class="nav-item" aria-current="page" href="/src/index.html"
              >Home</a
            >
          </div>
        </li>

        <li class="nav-item-li" data-is-auth="false" style="display: none">
          <a class="nav-item" href="/src/shopping-list.html"
            >Shopping list
            <svg class="icon-shop" width="20" height="20">
              <use
                href="/src/svgsprite/symbol-defs.svg#icon-icon-shopper"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <div class="checkbox">
      <label class="color-scheme-switcher">
        <input
          type="checkbox"
          name="color-scheme-switcher-checkbox"
          id="color-scheme-switcher-checkbox"
          aria-label="Color scheme switcher"
        />

        <span class="color-scheme-switcher-slider"></span>
      </label>
    </div>

    <div class="log-in-btns-wrepper">
      <button class="button-log js-open-modal button-log-2" type="button">
        <span class="text-log">Log in</span>
        <svg class="icon-log" width="20" height="20">
          <use href="/src/svgsprite/symbol-defs.svg#icon-login"></use>
        </svg>
      </button>
      <button class="button-user js-open-modal js-greeting" type="button">
        <div class="user-login-wrapper">
          <svg class="icon-user-login" width="19" height="19">
            <use href="/src/svgsprite/symbol-defs.svg#icon-user"></use>
          </svg>
        </div>
        <span class="userName"></span>
        <svg class="icon-down-user" width="20" height="20">
          <use href="/src/svgsprite/symbol-defs.svg#icon-login-down"></use>
        </svg>
      </button>

      <button
        class="button-log-out js-logOut js-logOut-tabl-desk"
        type="button"
      >
        <span class="text-log-out">Log out</span>
        <svg class="icon-log" width="20" height="20">
          <use href="/src/svgsprite/symbol-defs.svg#icon-login"></use>
        </svg>
      </button>
    </div>

    <button type="button" class="button-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
  </div>

  <!-- мобільне меню -->
  <div class="menu-container" id="mobile-menu">
    <button class="button-log js-open-modal button-log-2" type="button">
      <span class="text-log">Log in</span>
      <svg class="icon-log" width="20" height="20">
        <use href="/src/svgsprite/symbol-defs.svg#icon-login"></use>
      </svg>
    </button>
    <button class="button-user js-open-modal js-greeting-mob" type="button">
      <div class="user-login-wrapper">
        <svg class="icon-user-login" width="19" height="19">
          <use href="/src/svgsprite/symbol-defs.svg#icon-user"></use>
        </svg>
      </div>
      <span class="userName"></span>
    </button>
    <nav class="nav-mobile">
      <ul class="nav-list-mobile">
        <li class="nav-item-mobile">
          <a class="nav-item" aria-current="page" href="/src/index.html"
            >Home</a
          >
        </li>
        <li class="nav-item-mobile auth-hide">
          <a class="nav-item" href="/src/shopping-list.html"
            >Shopping list
            <svg class="icon-shop-mobile" width="20" height="20">
              <use
                href="/src/svgsprite/symbol-defs.svg#icon-icon-shopper "
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>
    <button class="button-log-out js-logOut js-logOut-mob" type="button">
      <span class="text-log-out">Log out</span>
      <svg class="icon-log" width="20" height="20">
        <use href="/src/svgsprite/symbol-defs.svg#icon-login"></use>
      </svg>
    </button>
  </div>
</header>
