<header class="header container">
  <div class="header-container">
    <nav class="navigation">
      <a href="/src/index.html">
        <svg class="logo">
          <use
            href="/src/svgsprite/symbol-defs.svg#icon-logo"
            width="109"
            height="28"
          ></use>
        </svg>
      </a>

      <ul class="nav-list">
        <li class="nav-item active">
          <a href="/src/index.html">Home</a>
        </li>
        <li class="nav-item" data-is-auth="false">
          <a href="/src/shopping-list.html"
            >Shopping list
            <svg class="icon-shop" width="20" height="20">
              <use
                href="/src/svgsprite/symbol-defs.svg#icon-icon-shopper"
              ></use>
            </svg>
          </a>
        </li>
      </ul>
    </nav>

    <div class="checkbox">
      <input class="checkbox-input" type="checkbox" id="theme-switcher" />
      <label class="checkbox-label" for="theme-switcher"> </label>
    </div>

    <div class="log-in-btns-wrepper">
      <button class="button-log js-open-modal" type="button">
        <span class="text-log">Log in</span>
        <svg class="icon-log" width="20" height="20">
          <use href="/src/svgsprite/symbol-defs.svg#icon-login"></use>
        </svg>
      </button>
      <button class="button-user js-open-modal js-greeting" type="button">
        <span class="text-log-user">Stephen</span>
        <svg class="icon-log-user" width="20" height="20">
          <use href="/src/svgsprite/symbol-defs.svg#icon-login-down"></use>
        </svg>
      </button>
      <button class="button-log-out js-logOut" type="button">
        <span class="text-log-out">Log out</span>
        <svg class="icon-log" width="20" height="20">
          <use href="/src/svgsprite/symbol-defs.svg#icon-login"></use>
        </svg>
      </button>
    </div>

    <button
      class="button-menu js-open-menu"
      type="button"
      aria-controls="mobile-menu"
      aria-expanded="false"
    >
      <svg class="burger-svg" width="28" height="28">
        <use href="/src/svgsprite/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>

    <!-- <button type="button" class="btn-menu-close js-close-menu" aria-label="close menu button">
      <svg class="icon-close" width="28" height="28">
        <use href="/src/svgsprite/symbol-defs.svg#icon-close"></use>
      </svg>
    </button> -->
  </div>
</header>

<!-- мобільне меню -->
<div class="menu-container js-menu-container" id="mobile-menu">
     <button class="button-user button-mobile js-open-modal js-greeting" type="button">
        <span class="text-log-user">Stephen</span>
      </button>
  <nav class="nav-mobile">
    <ul class="nav-list-mobile">
      <li class="nav-item-mobile .nav-item active">
        <a href="/src/index.html">Home</a>
      </li>
      <li class="nav-item-mobile .nav-item">
        <a href="/src/shopping-list.html">Shopping list </a>
        <svg class="icon-shop-mobile" width="20" height="20">
          <use href="/src/svgsprite/symbol-defs.svg#icon-icon-shopper "></use>
        </svg>
      </li>
    </ul>
  </nav>
  <button class="button-log-out-mobile" type="button">
    <span class="text-log-mobile">Log out</span>
    <svg class="icon-log-mobile" width="20" height="20">
      <use href="/src/svgsprite/symbol-defs.svg#icon-login"></use>
    </svg>
  </button>
</div>
