<div class="modal_background visible">
  <div class="modal_body">
    <button class="close_btn">X</button>
    <div class="flex gap-24 mb-40">
      <img
        src="https://storage.googleapis.com/du-prd/books/images/9781501110375.jpg"
        alt=""
      />
      <div>
        <div class="card_title">Hello beautiful</div>
        <div class="card_author">Ann</div>
        <div class="card_description">
          In a homage to Louisa May Alcott’s “Little Women,” a young man’s dark
          past resurfaces as he gets to the know the family of his college
          sweetheart.
        </div>
        <div class="flex gap-20"></div>
      </div>
    </div>
    <button class="btn">Add to Shopping List</button>
  </div>
</div>
