<!-- Загальна розмітка секції  SUPPORT-UKRAINE -->
<section class="support asside">
  <div class="support-container">
    <h2 class="support-title">
      Support Ukraine
      <svg
        class="support-title-icon"
        width="20"
        height="32"
        aria-label="Gerb of Ukraine"
      >
        <use href="./svgsprite/symbol-defs.svg#icon-emblem"></use>
      </svg>
    </h2>
    <div class="swiper">
      <ul class="support-list swiper-wrapper">
        <!-- li рендеряться -->
      </ul>
    </div>
    <button type="button" class="support-scrole-down-button swiper-next">
      <svg
        class="support-scroll-done-icon"
        width="22"
        height="22"
        aria-label="Show more"
      >
        <use href="./svgsprite/symbol-defs.svg#icon-down"></use>
      </svg>
    </button>
  </div>
</section>
