.main-container {
  width: 1440px;
  display: grid;
  grid-template-columns: 356px 996px;
  margin-top: 40px;
  gap: 40px;
}
.header {
  box-sizing: border-box;
  width: 1440px;
  height: 72px;
  padding-left: 0;

  background: #ffffff;
  border: 1.5px solid #111111;
  border-radius: 0px 0px 8px 8px;
}
.container-aside {
  position: relative;
  grid-column-start: 1;
  width: 356px;
}
