.main-container {
  display: grid;
  grid-template-columns: 335px;
  row-gap: 40px;
  padding-top: 104px;
  margin-left: auto;
  margin-right: auto;
}

.container-aside {
  width: 335px;
  /* Частина коду для лоадеру, не видаляти */
  position: relative;
  /* Частина коду для лоадеру, не видаляти */
}

/* tablet screen 768 */
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .main-container {
    grid-template-columns: 704px;
    row-gap: 100px;
  }
}
/* tablet screen 768 */
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
}
/* tablet screen 768 */
@media screen and (min-width: 768px) and (max-width: 1439.98px) {
  .container-aside {
    display: grid;
    grid-template-columns: 337px 335px;
    column-gap: 32px;
  }
}
/* desctop screen  1200*/
@media screen and (min-width: 1439.98px) {
  .main-container {
    grid-template-columns: 356px 996px;
    gap: 40px;
  }
}
/* desctop screen  1200*/
@media screen and (min-width: 1439.98px) {
  .container-aside {
    display: grid;
    row-gap: 86px;
    width: 356px;
    height: 1050px;
  }
}
