button {
  padding: 0;
  margin: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .header {
    z-index: 999;
    padding: 18px 20px;

    background: #ffffff;
    border: 1.5px solid #111111;
    border-radius: 0px 0px 8px 8px;
  }

  .header-container {
    display: flex;
    align-items: center;

    width: 100%;
  }

  .logo {
    width: 109px;
    height: 28px;
  }
  .nav-list {
    display: none;
  }

  .button-log {
    display: none;
  }

  #theme-switcher {
    margin-left: auto;
    margin-right: 14px;
  }

  .button-menu {
    background-color: #ffffff;
    height: 28px;
    stroke: #111111;
  }

  .menu-container {
    position: fixed;
    display: none;
    top: 70px;
    left: 0;
    z-index: 99;

    min-height: 100%;
    width: 100%;

    padding: 20px;
    background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      #4f2ee8 18.03%,
      #ffffff 100%
    );
    /* background-image: url(/src/images/Group\ 6.png);
    background-size: ;
    background-position: ;
   */
  }

  /* .menu-container.js-open-menu{
    display: block; 
  

  } */

  .nav-list-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 17;

    margin-top: 183px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: #ffffff;
  }

  .nav-item-mobile.current {
    width: 72px;
    height: 34px;
    padding: 8px 16px;
    gap: 10px;

    background: #eac645;
    border-radius: 36px;

    font-weight: 700;
    text-align: center;
    color: #111111;
  }

  .btn-menu-close {
    position: absolute;
    display: none;
    stroke: #111111;
    background-color: transparent;
    top: 20px;
    right: 20px;
  }

  .button-log-mobile {
    position: absolute;
    width: 118px;
    height: 48px;
    left: 20px;
    top: 563px;

    padding: 15px, 24px;

    background: #ffffff;
    border: 1.5px solid #111111;
    border-radius: 18px;
  }

  .text-log-mobile {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;

    padding: 15px, 24px;

    color: #111111;
  }

  .icon-shop-mobile {
    position: absolute;
    bottom: 0px;
    margin-left: 7px;
    fill: #ffffff;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding: 14px 24px 13px 24px;
  }

  .nav-list {
    display: flex;
    align-items: baseline;
    gap: 40;

    margin-left: 76px;
    margin-right: auto;
    text-transform: uppercase;
  }

  .nav-item {
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    padding: 8px 16px;

    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: #111111;
  }

  /* .nav-item:active{




  } */

  .navigation {
    display: flex;
    align-items: center;
  }

  .current {
    font-weight: 700;

    gap: 10px;
    background: #eac645;
    border-radius: 36px;
  }
  .icon-shop {
    position: absolute;
    top: 5px;
    margin-left: 8px;
  }

  .button-menu {
    display: none;
  }

  .button-log {
    position: relative;
    display: block;
    width: 184px;
    height: 48px;

    background: #4f2ee8;
    border: 1.5px solid #111111;
    border-radius: 18px;
  }

  .text-log {
    position: absolute;
    left: 14px;
    top: 15px;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: -0.04em;
    color: #ffffff;
  }

  .icon-log {
    position: absolute;
    top: 15px;
    right: 17px;
  }
}
