/* скидання стилів */
button {
  padding: 0;
  margin: 0;
  border: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
  padding: 0;
}
/* стилі для смартфону */
.active {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
  width: 72px;
  height: 34px;
  background: var(--accent-color-dark-theme);
  border-radius: 36px;

  font-weight: 700;
  color: var(--primary-text-color-light-theme);
}

@media screen and (min-width: 320px) {
  .header {
    position: relative;
    z-index: 999;
    padding: 18px 20px;

    background: var(--header-bg-color-light);
    border: 1.5px solid var(--primary-text-color-light-theme);
    border-radius: 0px 0px 8px 8px;
  }

  .header-container {
    display: flex;
    width: 100%;
  }

  .logo {
    width: 109px;
    height: 28px;
  }
  .nav-list {
    display: none;
  }

  .button-log,
  .button-log-out,
  .button-user {
    display: none;
  }

  .checkbox {
    position: relative;
    margin-left: auto;
  }

  .checkbox-input {
    -webkit-appearance: none;
    appearance: none;
  }

  .checkbox-label::before {
    content: '';
    position: absolute;
    top: 3px;
    right: 17px;

    width: 40px;
    height: 20px;

    border-radius: 20px;
    background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      var(--accent-color-light-theme) 18.03%,
      var(--header-bg-color-light) 100%
    );
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .checkbox-label::after {
    content: '';
    position: absolute;
    right: 38px;
    top: 4px;

    width: 18px;
    height: 18px;

    border-radius: 50px;
    background-color: var(--header-bg-color-light);
  }

  .checkbox-label.active-check::before {
    background: linear-gradient(
      180deg,
      var(--accent-color-light-theme) 0%,
      #686868 100%
    );
  }

  .checkbox-label.active-check::after {
    content: '';
    position: absolute;
    right: 18px;
  }

  .checkbox-input:checked + .checkbox-label::before {
    background: linear-gradient(
      180deg,
      var(--accent-color-light-theme) 0%,
      #686868 100%
    );
    box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.1);
  }

  .checkbox-input:checked + .checkbox-label::after {
    transform: translateX(20px);
  }

  .button-menu {
    background-color: var(--header-bg-color-light);
    height: 28px;
    stroke: var(--primary-text-color-light-theme);
  }

  .btn-menu-close {
    position: absolute;
    display: none;
    stroke: var(--primary-text-color-light-theme);
    background-color: transparent;
    top: 20px;
    right: 20px;
  }

  /* стилі для мобільного меню */
  .menu-container {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    z-index: 99;

    min-height: 100%;
    width: 100%;

    padding: 20px;
    background: radial-gradient(
      183.6% 183.01% at 59.76% -23.42%,
      var(--accent-color-light-theme) 18.03%,
      var(--header-bg-color-light) 100%
    );
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
  }

  .menu-container::before {
    content: '';
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    max-width: 100%;
    background-image: url(/src/images/Group_6.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .menu-container.is-open {
    display: block;
  }

  .nav-list-mobile {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 17;

    width: 118px;
    margin-top: 255px;
    margin-left: auto;
    margin-right: auto;

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;

    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: var(--header-bg-color-light);
  }

  .icon-shop-mobile {
    position: absolute;
    bottom: 0px;
    left: 85px;
    margin-left: 10px;
    margin-bottom: 2px;
    fill: var(--header-bg-color-light);
  }

  .button-mobile {
    display: none;
    width: 184px;
    height: 45px;
    margin-top: 84px;
    background: transparent;

    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  .text-log-user {
    font-weight: 700;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.02em;

    color: #ffffff;
  }

  .button-log-out-mobile {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    width: 118px;
    height: 48px;
    left: 20px;
    top: 750px;

    background: var(--header-bg-color-light);
    border: 1.5px solid var(--primary-text-color-light-theme);
    border-radius: 18px;
  }

  .text-log-mobile {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.04em;

    color: var(--primary-text-color-light-theme);
  }
}

/* стилі для таблета */
@media screen and (min-width: 768px) {
  .header {
    padding: 14px 24px 13px 24px;
  }

  .nav-list {
    display: flex;
    align-items: baseline;
    gap: 40;

    margin-left: 40px;
    margin-right: auto;
    text-transform: uppercase;
  }

  .test-shopping {
    display: none;
  }

  .nav-item {
    position: relative;
    font-family: 'DM Sans';
    font-style: normal;
    font-size: 14px;

    letter-spacing: -0.04em;
    text-transform: uppercase;

    color: var(--primary-text-color-light-theme);
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .icon-shop {
    position: absolute;
    bottom: 1px;
    margin-left: 11px;
    left: 86px;
  }

  .button-menu {
    display: none;
  }

  .button-log {
    display: flex;
    width: 184px;
    height: 45px;
    background: var(--accent-color-light-theme);
    border: 1.5px solid var(--primary-text-color-light-theme);
    border-radius: 18px;

    justify-content: flex-start;
    align-items: center;
    gap: 93px;
  }

  .text-log {
    font-size: 14px;
    line-height: 18px;
    padding-left: 14px;

    letter-spacing: -0.04em;
    color: var(--header-bg-color-light);
  }

  .button-log-out {
    display: none;
    justify-content: flex-start;
    align-items: center;
    gap: 93px;
    width: 184px;
    height: 45px;

    background: var(--header-bg-color-light);
    border: 1.5px solid var(--primary-text-color-light-theme);
    border-radius: 18px;
  }

  .text-log-out {
    padding-left: 14px;
    font-size: 14px;
    letter-spacing: -0.04em;

    color: #111111;
  }

  .button-user {
    display: none;
    width: 184px;
    height: 45px;
    background: var(--accent-color-light-theme);
    border: 1.5px solid var(--primary-text-color-light-theme);
    border-radius: 18px;

    justify-content: center;
    align-items: center;
    gap: 7px;
  }

  .checkbox-label::before {
    right: 24px;
    top: 15px;
  }

  .checkbox-label::after {
    top: 16px;
    right: 45px;
  }

  .checkbox-label.active-check::after {
    right: 25px;
  }
}
