/**************************\
  Basic Modal Styles
\**************************/

.modal {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
}

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__container {
  background-color: var(--body-dark);
  padding: 30px;
  max-width: 500px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__close {
  background: transparent;
  border: 0;
}

.modal__content {
  margin-top: 2rem;
  margin-bottom: 2rem;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.8);
}

.modal__btn:focus,
.modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: var(--body-dark);
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.login-modal {
  width: 579px;
  height: 516px;
  background-color: var(--bg-color-light);
  border: 2px solid var(--primary-text-color-light-theme);
  border-radius: 18px;
  position: relative;
  box-sizing: border-box;
  padding: 80 40 40 40;
}
/* 

*/
/*  */
/* 
 */
/*  
 */

.input-field {
  background-color: var(--body-dark);
}

.login-modal .close_btn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.login-icon-close {
  width: 28px;
  height: 28px;
  stroke: var(--primary-text-color-light-theme);
  position: absolute;
}

.login-icon-close:hover,
.login-icon-close:focus {
  stroke: var(--login-modal-accent);
  cursor: pointer;
}

.login-icon-mail {
  width: 28px;
  height: 28px;
  stroke: var(--primary-text-color-light-theme);
  fill: transparent;
  position: absolute;
  top: 22px;
  right: 23px;
}

.login-icon-password {
  width: 28px;
  height: 28px;
  stroke: var(--primary-text-color-light-theme);
  fill: transparent;
  position: absolute;
  top: 22px;
  right: 23px;
}

.login-modal .labels-wrapper {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.login-modal .input-field {
  box-sizing: border-box;
  padding: 20px 50px 20px 40px;
  width: 100%;
  border: 2.4px solid var(--primary-text-color-light-theme);
  background-color: transparent;
  border-radius: 40px;
  background-color: var(----header-bg-color-light);
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  color: var(--primary-text-color-light-theme);
}

.login-modal .input-field::placeholder {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--primary-text-color-light-theme);
}

.login-modal .input-field:focus {
  outline: none;
  border: 2.4px solid var(--login-modal-accent);
}

.login-modal .label {
  position: relative;
}

.login-modal .validator-err {
  position: absolute;
  top: 70px;
  left: 5%;
  font-size: 14px;
  line-height: 1.29;

  color: var(--login-modal-switch-btns);
}

.login-modal .modal__btn-primary {
  width: 100%;
  height: 64px;
  background-color: var(--primary-text-color-light-theme);
  border-radius: 40px;
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--login-modal-btn-cl);
  transform: none;
  margin-bottom: 20px;
  cursor: pointer;
}

.login-modal .modal__btn-primary:hover,
.login-modal .modal__btn-primary:focus {
  background-color: var(--login-modal-accent);
}

.login-modal .switch-modal-btns {
  justify-content: center;
  display: flex;
  gap: 20px;
}

.login-modal .js-sign-up-btn,
.login-modal .js-sign-in-btn {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: var(--sign-up);
  background-color: transparent;
  cursor: pointer;
}

.login-modal .login-accent {
  color: var(--login-modal-accent);
  text-decoration-line: underline;
}

.login-modal .form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .login-modal {
    max-width: 335px;
    max-height: 384px;
    padding: 40px 20px;
  }

  .login-icon-close {
    width: 20px;
    height: 20px;
  }

  .login-icon-password,
  .login-icon-mail {
    width: 20px;
    height: 20px;
    top: 16px;
    right: 16px;
  }

  .login-modal .close_btn {
    top: 14px;
    right: 14px;
  }

  .login-modal .input-field {
    padding: 14px 40px 14px 24px;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.01em;
  }

  .login-modal .input-field::placeholder {
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: -0.01em;
  }

  .login-modal .labels-wrapper {
    gap: 20px;
  }

  .login-modal .modal__btn-primary {
    height: 50px;
    font-size: 16px;
    margin-bottom: 14px;
  }

  .login-modal .js-sign-up-btn,
  .login-modal .js-sign-in-btn {
    font-size: 14px;
  }

  .login-modal .validator-err {
    top: 50px;
    font-size: 12px;
  }
}
