.main-content {
  display: grid;
  grid-template-columns: 335px;
  row-gap: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  justify-content: center;
}

@media screen and (min-width: 768px) and (max-width: 1439.99px) {
  .main-content {
    width: 704px;
    grid-template-columns: 704px;
    row-gap: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .main-content {
    width: 1392px;
    grid-template-columns: 996px;
    gap: 40px;
    padding-top: 0;
  }
}

.support-shopping-list {
  display: none;
}

.shopping-title {
  font-weight: 700;
  font-size: 32px;
  line-height: calc(38 / 32);
  letter-spacing: -0.04em;
  color: var(--primary-text-color-light-theme);
  margin-bottom: 40px;
}

.shopping-title-span {
  color: #4f2ee8;
}

/* // EMPTY */
.shop-card-empty-text {
  font-size: 14px;
  line-height: calc(18 / 14);
  text-align: center;
  letter-spacing: -0.02em;
  color: var(--shop-card-empty-text);
}

.shop-card-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 14px;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 265px;
  height: 248px;
}

.shop-card-empty-picture {
  width: 265px;
  height: 198px;
}

/*============================================================================================== */

.shopping__card {
  display: grid;
  grid-template-columns: 98px 1fr;
  grid-column-gap: 20px;
  position: relative;
  background-color: var(--bg-shopping-card);
  width: auto;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid rgba(79, 46, 232, 0.4);
  border-radius: 16px;
  padding: 14px;
  margin-bottom: 20px;
}

.shopping__card:hover,
.shopping__card:focus {
  border: 3px solid #eac645;
}

.about-img {
  width: 100px;
  height: 142px;
  position: relative;
  overflow: hidden;
}
.about-img img {
  transition: transform 0.3s ease;
}
.about-img:hover img {
  transform: scale(1.1);
}

.shopping-card-img {
  width: 100px;
  height: 142px;
  border-radius: 8px;
}

.about-title {
  margin-bottom: 8px;
}

.shopping-card-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(18 / 16);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  letter-spacing: -0.04em;
  text-transform: uppercase;

  width: 144px;
  color: var(--primary-text-color-light-theme);
}

.shopping-card-category {
  font-family: 'DM Sans';
  font-size: 12px;
  line-height: calc(14 / 12);
  text-overflow: ellipsis;
  letter-spacing: 0.03em;
  white-space: nowrap;
  overflow: hidden;
  color: #b4afaf;
  width: 144px;
}

.about-description {
  margin-bottom: 14px;
  height: 68px;
}

.shopping-card-description {
  overflow: auto;
  text-overflow: ellipsis;
  white-space: pre-wrap;
  font-family: 'DM Sans';
  font-size: 15px;
  letter-spacing: -0.04em;
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  color: var(--primary-text-color-light-theme);
  max-height: 4em;
  margin-top: 8px;
}

.about-autor-url {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.shopping-card-author {
  font-style: italic;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: -0.04em;
  color: #b4afaf;
}

.shoplist-url-list {
  display: flex;
  gap: 8px;
  align-items: center;
  mix-blend-mode: luminosity;
}

.amazon {
  width: 32px;
  height: 11px;
}

.apple {
  width: 16px;
  height: 16px;
}

.book-shop {
  width: 16px;
  height: 16px;
}

svg {
  max-width: 100%;
  height: auto;
  display: block;
}

/* BUTTON */
.shopping-card-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 14px;
  right: 14px;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #4f2ee8;

  transition: background 0.2s ease-out;
}

/* .icon-trash {} */
.shopping-card-btn:hover,
.shopping-card-btn:hover {
  transform: scale(1.1);
  background: #eac645;
}

/* .shoplist-url-item:hover,
.shoplist-url-item:focus {
  filter: drop-shadow(0px 3px 3px var(--text-logo-bookshelf-light));
} */
@media screen and (max-width: 767.99px) {
  .main-content {
    display: flex;
    justify-content: center;
  }

  .support-shopping-list {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .main-content {
    flex-grow: 1;
    padding-bottom: 60px;
  }

  .about-title {
    margin-bottom: 14px;
  }

  .shopping-title {
    font-size: 48px;
    line-height: calc(52 / 48);
  }

  .shop-card-empty-text {
    font-size: 18px;
    line-height: calc(24 / 18);
    margin-left: 0px;
    margin-right: 0px;
  }

  .shopping__card {
    grid-template-columns: 115px 1fr;
    grid-column-gap: 24px;
    padding: 24px;
  }

  .about-author {
    display: flex;
    align-items: end;
  }

  .about-img {
    width: 116px;
    height: 165px;
  }

  .shopping-card-title {
    text-overflow: inherit;
    white-space: inherit;
    width: auto;
  }

  .shopping-card-category {
    text-overflow: inherit;
    white-space: inherit;
    width: auto;
  }

  .shoplist-url-list {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  .shopping-card-img {
    width: 116px;
    height: 165px;
  }

  .amazon {
    width: 48px;
    height: 15px;
    /* filter: var(--amazon); */
  }

  .apple {
    width: 28px;
    height: 27px;
  }

  .book-shop {
    width: 32px;
    height: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .main-content {
    flex-grow: 1;
  }

  .support-shopping-list {
    display: inherit;
  }
}
