.shopping-list-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.shopping-list {
  width: 100%;
  flex-direction: column;
  gap: 20px;
  margin-top: 40px;
  display: flex;
}
/* tablet screen  768*/
@media screen and (min-width: 768px) {
  .shopping-list-container {
    /* width: 768px; */
    display: grid;
    grid-template-columns: 768px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}
/* desctop screen  1200*/
@media screen and (min-width: 1023.98px) {
  .shopping-list-container {
    display: grid;
    width: 1440px;

    grid-template-columns: 356px 956px;
    column-gap: 40px;
    padding-top: 40px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
