/* breakpoints:
1440px
768px
375px */
.support-container {
  box-sizing: border-box;
  width: 335px;
  min-height: 352px;
  padding: 24px 40px;
  border-radius: 16px;
  background: radial-gradient(
    183.6% 183.01% at 59.76% -23.42%,
    #4f2ee8 18.03%,
    #ffffff 100%
  );
  box-shadow: 0px 10px 10px rgba(245, 245, 247, 0.1);
}

@media screen and (min-width: 768px) {
  .support-container {
    min-height: 472px;
  }
}

@media screen and (min-width: 1440px) {
  .support-container {
    width: 356px;
    min-height: 490px;
  }
}

.support-title {
  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: -0.04em;
  display: flex;
  gap: 12px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.swiper-next {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  width: 38px;
  height: 38px;
  margin: 0 auto;
}

.swiper-next:hover,
.swiper-next:focus {
  background-color: #eac645;
}

.swiper {
  height: 188px;
  margin: 40px 0;
}

@media screen and (min-width: 768px) {
  .swiper {
    height: 292px;
  }
}

.swiper-slide.support-slide {
  display: flex;
  height: auto;
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 22px;
  height: 22px;
}

.support-index {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.support-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  color: #ffffff;
}

.support-image {
  filter: brightness(0) invert(1);
  max-width: 100%;
  height: auto;
}

.support-link:hover .support-image {
  filter: none;
}

.support-list {
  display: flex;
  flex-direction: column;
  /* gap: 20px; */
}
ul.support-list > li {
  height: auto !important;
}

.support-link {
  height: 32px;
  display: flex;
  align-items: center;
}
