body.dark {
  --login-modal-btn-cl: #202024;
  --login-modal-accent: #eac645;
  --log-out-icon: #ffffff;
  --body-dark: #202024;
  --bg-color-light: #202024;
  --header-bg-color-light: #111111;
  --text-logo-bookshelf-light: #000000;
  --accent-color-light-theme: #eac645;
  --primary-text-color-light-theme: #ffffff;
  --secondary-color-light-theme: #b4afaf;
  --category-color-light: rgba(255, 255, 255, 0.6);
  --scroll-light-theme: rgba(17, 17, 17, 0.6);
  --shop-card-empty-text: rgba(255, 255, 255, 0.6);
  --bg-shopping-card: #111111;
  --text-logo-bookshelf-dark: var(--text-logo-bookshelf-light);
  --sign-up: rgba(246, 246, 246, 0.5);
  --amazon: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg)
    brightness(102%) contrast(102%);
  --login-modal-switch-btns: var(--primary-text-color-light-theme);
}
